* {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
}

html {
  color: #010101;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  height: 100vh;
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: '';
    content: none;
  }
}

input {
  padding: 0.5rem 1rem;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  outline: none;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited,
  &:active,
  &:hover {
    color: inherit;
    opacity: 1;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

:focus {
  outline: 0;
}
